
.banner-swiper{
    height: px2rem(374);
    overflow: hidden;
}
.scroll-container{
    position: fixed;
    top: 0;
    bottom: px2rem(90);
    left: 0;
    right: 0;
    overflow: hidden;
}

@import '../../style/my_style.scss';