.chooseCity{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    >.iconfont{
        position: absolute;
        left: px2rem(36);
        top: px2rem(29);
        // padding: px2rem(10);
        @include font-dpr(30px); 
    }
    .content{
        position: absolute;
        top: px2rem(65);
        bottom: 0;
        left: 0;
        right: 0;
        .title-container{
            height: px2rem(170);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: px2rem(36);
            .title{
                @include font-dpr(36px);
                margin-bottom: px2rem(16);
            }
            .detail{
                @include font-dpr(22px);
                color: #6c7179;
            }
        }
        .scroll-wrapper{
            position: absolute;
            top: px2rem(170);
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
        }
        .all-city-container{
            .curCity-container{
                .title{
                    height: px2rem(48);
                    line-height: px2rem(48);
                    padding-left: px2rem(36);
                    background-color: #ededed;
                    @include font-dpr(22px);
                }
                .curCity{
                    height: px2rem(96);
                    padding: 0 px2rem(36);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .city{
                       @include font-dpr(32px);
                       color: #3c3d41; 
                    }
                    .getCity{
                       @include font-dpr(22px); 
                        color: #42bd55;
                        .icon-htmal5icon14{
                            @include font-dpr(22px); 
                        }
                    }
                }
            }
            .mainCity-container{
                .title{
                    height: px2rem(48);
                    line-height: px2rem(48);
                    padding-left: px2rem(36);
                    background-color: #ededed;
                    @include font-dpr(22px);
                }
                .city{
                    height: px2rem(96);
                    line-height: px2rem(96);
                    padding: 0 px2rem(36);
                    @include font-dpr(32px);
                    color: #6c7179;
                    // @include  border-1px(#e4e4e4);
                }
            }
            .otherCity-container{
                .title{
                    height: px2rem(96);
                    padding: 0 px2rem(36);
                    background-color: #ededed;
                    @include font-dpr(32px);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .iconfont{
                        padding: px2rem(20);
                        @include font-dpr(24px);
                    }
                }
                .city{
                    height: px2rem(96);
                    line-height: px2rem(96);
                    padding: 0 px2rem(64);
                    @include font-dpr(32px);
                    color: #6c7179;
                    // @include  border-1px(#e4e4e4);
                }
            }
            .active{
                color: #42bd55 !important; 
            }
            // .time-item{
            //     height: px2rem(96);
            //     line-height: px2rem(96);
            //     text-align: center;
            //      @include font-dpr(32px);
            //     color: #6c7179;
            //     @include border-1px(#e4e4e4);
            //     &.active{
            //         background-color: #f5f5f5;
            //         color: #42bd55;
            //     }
            // }
        }
    }
 
}